<%= form_for(@splash_ad, url: @splash_ad.new_record? ? :splash_ads : :splash_ad,method: @splash_ad.new_record? ? :post : :put, :html => {:class => "layui-form"}) do |f| %> 
  <fieldset class="layui-elem-field" style="margin-top: 20px;">
    <legend>基本信息</legend>
    <div class="layui-field-box">
      <div class="layui-form-item">
        <label class="layui-form-label">广告图片<span style="color: red;">*</span></label>
        <div class="layui-input-block">
          <button type="button" class="layui-btn" id="upload-image-btn">
            <i class="layui-icon">&#xe67c;</i>上传图片
          </button>
          <span class="layui-form-mid layui-word-aux">支持 JPG、PNG、GIF、WebP 格式，不超过 5MB</span>
          <div id="image-preview" style="margin-top: 10px;">
            <% if @splash_ad.image_url.present? %>
              <img src="<%= FileMap.new(@splash_ad.image_url, "img").secrity_src  %>" style="max-width: 300px; max-height: 200px; border-radius: 4px;">
            <% end %>
          </div>
          <input type="hidden" name="splash_ad[image_url]" id="image-url" value="<%= @splash_ad.image_url %>">
        </div>
      </div>
    </div>
  </fieldset>

  <fieldset class="layui-elem-field">
    <legend>链接设置</legend>
    <div class="layui-field-box">
      <div class="layui-form-item">
        <label class="layui-form-label">链接类型<span style="color: red;">*</span></label>
        <div class="layui-input-block">
          <select name="splash_ad[link_type]" id="link-type-select" lay-verify="required" lay-filter="link-type-filter">
            <option value="">请选择</option>
            <% [["single_book", "图书单本"],["category", "分类"]].each do |x| %>
              <option value="<%= x[0] %>" <%= @splash_ad.link_type == x[0] ? 'selected' : '' %>><%= x[1] %></option>
             <% end %>
          </select>
        </div>
      </div>

      <div class="layui-form-item" id="book-select-wrapper" style="display: none;">
        <label class="layui-form-label">选择图书<span style="color: red;">*</span></label>
        <div class="layui-input-block">
          <select name="splash_ad[book_id]" id="book-select" lay-search="">
            <option value="">请搜索选择图书</option>
            <% @books.each do |book| %>
              <option value="<%= book.id %>" <%= @splash_ad.book_id == book.id ? 'selected' : '' %>><%= book.name %></option>
            <% end %>
          </select>
        </div>
      </div>

      <div class="layui-form-item" id="category-select-wrapper" style="display: none;">
        <label class="layui-form-label">选择分类<span style="color: red;">*</span></label>
        <div class="layui-input-block">
          <select name="splash_ad[category_id]" id="category-select">
            <option value="">请选择分类</option>
            <% @categories.each do |category| %>
              <option value="<%= category.id %>" <%= @splash_ad.category_id == category.id ? 'selected' : '' %>><%= category.name %></option>
            <% end %>
          </select>
        </div>
      </div>
    </div>
  </fieldset>

  <!-- 推送设置 -->
  <fieldset class="layui-elem-field">
    <legend>推送设置</legend>
    <div class="layui-field-box">
      <div class="layui-form-item">
        <label class="layui-form-label">推送范围<span style="color: red;">*</span></label>
        <div class="layui-input-block">
          <select name="splash_ad[push_scope]" id="push-scope-select" lay-verify="required" lay-filter="push-scope-filter">
            <% [["all_users", "所有用户"],["age_range", "指定年龄段"], ["specific_users", "指定用户群体"]].each do |x| %>
              <option value="<%= x[0] %>" <%= @splash_ad.push_scope == x[0] ? 'selected' : '' %>><%= x[1] %></option>
            <% end %>
          </select>
        </div>
      </div>

      <div class="layui-form-item" id="age-range-wrapper" style="display: none;">
        <label class="layui-form-label">年龄段<span style="color: red;">*</span></label>
        <div class="layui-input-inline" style="width: 100px;">
          <input type="number" name="splash_ad[min_age]" id="min-age" value="<%= @splash_ad.min_age %>" placeholder="最小年龄" class="layui-input" min="0" max="18">
        </div>
        <div class="layui-form-mid">~</div>
        <div class="layui-input-inline" style="width: 100px;">
          <input type="number" name="splash_ad[max_age]" id="max-age" value="<%= @splash_ad.max_age %>" placeholder="最大年龄" class="layui-input" min="0" max="18">
        </div>
        <div class="layui-form-mid layui-word-aux">岁</div>
      </div>

      <div class="layui-form-item" id="user-group-wrapper" style="display: none;">
        <label class="layui-form-label">用户群体<span style="color: red;">*</span></label>
        <div class="layui-input-block">
          <textarea name="splash_ad[user_group]" placeholder="请输入用户ID，多个用逗号分隔" class="layui-textarea"><%= @splash_ad.user_group %></textarea>
        </div>
      </div>

      <div class="layui-form-item">
        <label class="layui-form-label">推送方式<span style="color: red;">*</span></label>
        <div class="layui-input-block">
          <select name="splash_ad[push_mode]" id="push-mode-select" lay-verify="required" lay-filter="push-mode-filter">
            <% [["immediate", "定时推送"],["first_open_daily", "首次打开app推送"]].each do |x| %>
              <option value="<%= x[0] %>" <%= @splash_ad.push_mode == x[0] ? 'selected' : '' %>><%= x[1] %></option>
            <% end %>
          </select>
        </div>
      </div>

      <div class="layui-form-item" id="scheduled-time-wrapper" style="display: none;">
        <label class="layui-form-label">定时时间<span style="color: red;">*</span></label>
        <div class="layui-input-block">
          <input type="text" name="splash_ad[scheduled_at]" id="scheduled-at" value="<%= @splash_ad.scheduled_at&.strftime('%Y-%m-%d %H:%M') %>" placeholder="请选择定时推送时间" class="layui-input">
        </div>
      </div>
    </div>
  </fieldset>

  <!-- 时间设置 -->
  <fieldset class="layui-elem-field">
    <legend>投放时间</legend>
    <div class="layui-field-box">
      <div class="layui-form-item">
        <label class="layui-form-label">开始时间<span style="color: red;">*</span></label>
        <div class="layui-input-block">
          <input type="text" name="splash_ad[start_time]" id="start-time" value="<%= @splash_ad.start_time&.strftime('%Y-%m-%d %H:%M') %>" placeholder="请选择开始时间" class="layui-input" lay-verify="required">
        </div>
      </div>

      <div class="layui-form-item">
        <label class="layui-form-label">结束时间<span style="color: red;">*</span></label>
        <div class="layui-input-block">
          <input type="text" name="splash_ad[end_time]" id="end-time" value="<%= @splash_ad.end_time&.strftime('%Y-%m-%d %H:%M') %>" placeholder="请选择结束时间" class="layui-input" lay-verify="required">
        </div>
      </div>
    </div>
  </fieldset>

  <!-- 操作按钮 -->
  <div class="layui-form-item">
    <div class="layui-input-block">
      <button type="submit" class="layui-btn layui-btn-normal" lay-submit lay-filter="form-submit">提交保存</button>
      <%= link_to '取消', splash_ads_path, class: 'layui-btn layui-btn-primary' %>
    </div>
  </div>
<% end %>

<script>
layui.use(['form', 'upload', 'laydate', 'layer'], function() {
  var form = layui.form;
  var upload = layui.upload;
  var laydate = layui.laydate;
  var layer = layui.layer;
  var $ = layui.$;

  // 初始化时间选择器
  laydate.render({
    elem: '#start-time',
    type: 'datetime',
    format: 'yyyy-MM-dd HH:mm'
  });

  laydate.render({
    elem: '#end-time',
    type: 'datetime',
    format: 'yyyy-MM-dd HH:mm'
  });

  laydate.render({
    elem: '#scheduled-at',
    type: 'datetime',
    format: 'yyyy-MM-dd HH:mm'
  });

  // 图片上传
  var uploadInst = upload.render({
    elem: '#upload-image-btn',
    url: '<%= upload_img_files_path %>',
    accept: 'images',
    size: 5120,
    before: function(obj) {
      layer.msg('上传中...', { icon: 16, shade: 0.3 });
    },
    done: function(res) {
      layer.closeAll();
      if (res.success) {
        $('#image-url').val(res.url);
        $('#image-name').val(res.filename);
        $('#image-preview').html('<img src="' + res.preivew_url + '" style="max-width: 300px; max-height: 200px; border-radius: 4px;">');
        layer.msg('上传成功', { icon: 1 });
      } else {
        layer.msg(res.message || '上传失败', { icon: 2 });
      }
    },
    error: function() {
      layer.closeAll();
      layer.msg('上传失败', { icon: 2 });
    }
  });

  // 链接类型切换
  form.on('select(link-type-filter)', function(data) {
    var value = data.value;
    $('#book-select-wrapper').hide();
    $('#category-select-wrapper').hide();
    
    if (value === 'single_book') {
      $('#book-select-wrapper').show();
    } else if (value === 'category') {
      $('#category-select-wrapper').show();
    }
    form.render('select');
  });

  // 推送范围切换
  form.on('select(push-scope-filter)', function(data) {
    var value = data.value;
    $('#age-range-wrapper').hide();
    $('#user-group-wrapper').hide();
    
    if (value === 'age_range') {
      $('#age-range-wrapper').show();
    } else if (value === 'specific_users') {
      $('#user-group-wrapper').show();
    }
    form.render();
  });

  // 推送方式切换
  form.on('select(push-mode-filter)', function(data) {
    var value = data.value;
    $('#scheduled-time-wrapper').hide();
    
    if (value === 'immediate') {
      $('#scheduled-time-wrapper').show();
    }
    form.render();
  });

  // 初始化显示
  var linkType = $('#link-type-select').val();
  if (linkType === 'single_book') {
    $('#book-select-wrapper').show();
  } else if (linkType === 'category') {
    $('#category-select-wrapper').show();
  }

  var pushScope = $('#push-scope-select').val();
  if (pushScope === 'age_range') {
    $('#age-range-wrapper').show();
  } else if (pushScope === 'specific_users') {
    $('#user-group-wrapper').show();
  }

  var pushMode = $('#push-mode-select').val();
  if (pushMode === 'immediate') {
    $('#scheduled-time-wrapper').show();
  }
});
</script>
