<%= form_for(@content, url: @content.new_record? ? :admin_grade_recommend_content_group_contents : :admin_grade_recommend_content_group_content,method: @content.new_record? ? :post : :put, :html => {:class => "layui-form"}) do |f| %>
  <% if @content_group.group_type == "author_display" %>
    <%= f.hidden_field :content_type  %>
    <div class="layui-form-item">
      <label class="layui-form-label">作者</label>
      <div class="layui-input-block">
        <select name="content[author_id]" lay-search="" lay-verify="required">
          <option value="">请选择作者</option>
          <% Author.all.each do |x| %>
            <option value="<%= x.id %>" <%= "selected" if @content.author_id == x.id %>><%= x.name %></option>
          <% end %>
        </select>
      </div>
    </div>
  <% elsif @content_group.group_type == "sub_recommend" %>
    <div class="layui-form-item">
      <label class="layui-form-label">链接类型</label>
      <div class="layui-input-block">
        <input type="radio" lay-filter="levelFilter" name="content[content_type]" value="recommend" title="推荐" <%= 'checked' if @content.content_type== "recommend" %>>
        <input type="radio" lay-filter="levelFilter" name="content[content_type]" value="rank" title="排行榜" <%= 'checked' if @content.content_type== "rank" %>>
      </div>
    </div>

    <div class="layui-form-item" id="option-wrap">
      <% if @content.content_type == "recommend" %>
        <label class="layui-form-label">选择推荐</label>
        <div class="layui-input-block">
          <select name="content[recommend_id]" lay-search="" lay-verify="required">
            <option value="">选择链接内容</option>
            <% Recommend.where(grade_id: @grade.id).each do |x| %>
              <option value="<%= x.id %>" <%= "selected" if @content.recommend_id == x.id %>><%= x.name %></option>
            <% end %>
          </select>
        </div>
      <% else %>
        <label class="layui-form-label">选择排行榜</label>
        <div class="layui-input-block">
          <select name="content[recommend_id]" lay-search="" lay-verify="required">
            <option value="">选择链接内容</option>
            <% Rank.where(grade_id: @grade.id).each do |x| %>
              <option value="<%= x.id %>" <%= "selected" if @content.rank_id == x.id %>><%= x.name %></option>
            <% end %>
          </select>
        </div>
      <% end %>
    </div>
  <% else %>
    <div class="layui-form-item">
      <label class="layui-form-label">链接类型</label>
      <div class="layui-input-block">
        <input type="radio" lay-filter="levelFilter" name="content_type" value="compilation" title="合辑" <%= 'checked' if @content.content_type== "compilation" %>>

        <input type="radio" lay-filter="levelFilter" name="content_type" value="book" title="图书" <%= 'checked' if @content.content_type== "book" && @content.book.category.name == "图书" %>>
        <input type="radio" lay-filter="levelFilter" name="content_type" value="comic" title="漫画" <%= 'checked' if @content.content_type== "book" && @content.book.category.name == "漫画" %>>
        <input type="radio" lay-filter="levelFilter" name="content_type" value="audio" title="有声" <%= 'checked' if @content.content_type== "book" && @content.book.category.name == "有声" %>>
        <input type="radio" lay-filter="levelFilter" name="content_type" value="video" title="视频" <%= 'checked' if @content.content_type== "book" && @content.book.category.name == "视频" %>>
      </div>
    </div>

    <div class="layui-form-item" id="option-wrap">
      <% if @content.content_type == "compilation" %>
        <label class="layui-form-label">选择合辑</label>
        <div class="layui-input-block">
          <select name="content[compilation_id]" lay-search="" lay-verify="required">
            <option value="">选择链接内容</option>
            <% @compilations.each do |x| %>
              <option value="<%= x.id %>" <%= "selected" if @content.compilation_id == x.id %>><%= x.name %></option>
            <% end %>
          </select>
        </div>
      <% else %>
        <label class="layui-form-label">选择单本</label>
        <div class="layui-input-block">
          <select name="content[book_id]" lay-search="" lay-verify="required">
            <option value="">选择链接内容</option>
            <% Book.all.each do |x| %>
              <option value="<%= x.id %>" <%= "selected" if @content.book_id == x.id %>><%= x.name %></option>
            <% end %>
          </select>
        </div>
      <% end %>
    </div>
  <% end %>

  <% if @content_group.group_type == "multi_images" || @content_group.group_type == "sub_recommend" %>
    <div class="layui-form-item">
      <label class="layui-form-label">图标</label>
      <div class="layui-input-block">
        <div class="layui-upload">
          <button type="button" class="layui-btn layui-btn-normal" id="uploadBtn">上传图标</button>
          <span style="margin-left: 10px; color: #999; font-size: 12px;">支持 jpg、png、gif、webp、svg 格式，不超过 2MB</span>
          <div class="layui-upload-list" id="iconPreview" style="margin-top: 10px;">
            <img src="<%= @content.img_url.blank? ? '' : FileMap.new(@content.img_url, 'img').secrity_src %>" id="previewImg" style="width: 60px; height: 60px; object-fit: contain; display: <%= @content.img_url.blank? ?  'none' : 'block' %>;">
            <%= f.hidden_field :img_url, id: "iconInput" %>
          </div>
        </div>
      </div>
    </div>
  <% end %>

  <div class="layui-form-item layui-col-md6">
    <label class="layui-form-label">序号</label>
    <div class="layui-input-block">
      <%= f.number_field :sn, class: "layui-input", min: 0, step: 1, required: true, style: "width: 400px;" %>
    </div>
  </div>

  <div class="layui-form-item">
    <div class="layui-input-block">
      <button type="submit" class="layui-btn layui-bg-blue" lay-submit lay-filter="submit-content">
        <i class="layui-icon layui-icon-release"></i>提交保存
      </button>
      <%= link_to "取消", admin_grade_recommend_content_group_path(@grade, @recommend, @content_group), class: "layui-btn layui-btn-primary" %>
    </div>
  </div>
<% end %>

<script>
    layui.use(['form', 'layer', 'upload'], function(){
      var form = layui.form;
      var layer = layui.layer;
      var upload = layui.upload;

      form.on('radio(levelFilter)', function(data) {
        var content_type = data.value;
        $.ajax({
            url: "/admin/options/",
            type: 'get',
            dataType: 'json',
            data: {content_type: content_type, grade_id: <%= @grade.id %>, content_group_id: <%= @content_group.id %>},
            success: function (json) {
                $("#option-wrap").html(json.opts);
                form.render();
            },
            error: function (e) {
            }
        });
      });

      <% if ["multi_images", "sub_recommend"].include? @content_group.group_type %>
        var upload = layui.upload;
        upload.render({
          elem: '#uploadBtn',
          url: '<%= upload_img_files_path %>',
          size: 2048, // 2MB
          accept: 'images',
          exts: 'jpg|jpeg|png|gif|webp|svg',
          done: function(res){
            if (res.success) {
              $('#iconInput').val(res.url);
              $('#previewImg').attr('src', res.preivew_url).show();
              layer.msg('上传成功', {icon: 1});
            } else {
              layer.msg(res.error || '上传失败', {icon: 2});
            }
          },
          error: function(){
            layer.msg('上传失败', {icon: 2});
          }
        });
      <% end %>
    });
</script>
