<div class="layui-tab">
  <div class="x-nav">
    <span class="layui-breadcrumb">
      <%= link_to "年级管理", :admin_grades %>
      <%= link_to @grade.name, admin_grade_recommends_path(@grade) %>
      <%= link_to @recommend.name, admin_grade_recommend_content_groups_path(@grade, @recommend) %>
      <a><cite><%= @content_group.name %></cite></a>
      <a><cite>内容管理</cite></a>
    </span>
    <%= render 'common/user_info' %>
  </div>

  <div class="x-body">
    <div class="layui-form" style="margin-bottom: 15px;">
      <div class="layui-form-item" style="margin: 0;">
        <div class="layui-inline">
          <a class="layui-btn layui-bg-blue" href="<%= new_admin_grade_recommend_content_group_content_path(@grade, @recommend, @content_group) %>">
            <i class="layui-icon layui-icon-add-1"></i> 新增内容
          </a>
          <a class="layui-btn layui-btn-primary" href="<%= admin_grade_recommend_content_groups_path(@grade, @recommend) %>">
            <i class="layui-icon layui-icon-return"></i> 返回
          </a>
        </div>
      </div>
    </div>
  </div>
</div>
