<div class="layui-tab">
  <div class="x-nav">
    <span class="layui-breadcrumb">
      <%= link_to "年级管理", :admin_grades %>
      <%= link_to @grade.name, admin_grade_recommends_path(@grade) %>
      <%= link_to @recommend.name, admin_grade_recommend_content_groups_path(@grade, @recommend) %>
      <a><cite><%= @content_group.name %></cite></a>
      <a><cite>内容管理</cite></a>
    </span>
    <%= render 'common/user_info' %>
  </div>

  <div class="x-body">
    <div class="layui-form" style="margin-bottom: 15px;">
      <div class="layui-form-item" style="margin: 0;">
        <div class="layui-inline">
          <a class="layui-btn layui-bg-blue" href="<%= new_admin_grade_recommend_content_group_content_path(@grade, @recommend, @content_group) %>">
            <i class="layui-icon layui-icon-add-1"></i> 新增内容
          </a>
          <a class="layui-btn layui-btn-primary" href="<%= admin_grade_recommend_content_groups_path(@grade, @recommend) %>">
            返回
          </a>
        </div>
      </div>
    </div>

    <table class="layui-table">
      <thead>
        <tr>
          <th>类型</th>
          <th>图标</th>
          <th>序号</th>
          <th>链接内容</th>
          <th>添加时间</th>
          <th width="220" style="text-align:center;">操作</th>
        </tr>
      </thead>
      <tbody>
        <% @content_group.contents.sorted.each do |r| %>
          <% img_url = r.display_img_url %>
          <tr>
            <td><%= r.content_type_name %></td>
            <td>
              <% unless img_url.blank? %>
                <img src="<%= FileMap.new(img_url, "img").secrity_src %>" style="width: 48px; object-fit: cover; border-radius: 4px;" />
              <% end %>
            </td>
            <td><%= r.sn %></td>
            <td><%= r.content_name %></td>
            <td><%= r.created_at.strftime("%Y-%m-%d") %></td>
            <td style="text-align:center;">
              <div class="layui-btn-group">
                <%= link_to '编辑', edit_admin_grade_recommend_content_group_content_path(@grade, @recommend, @content_group, r), class: "layui-btn layui-btn-sm" %>
                <%= link_to '删除', admin_grade_recommend_content_group_content_path(@grade, @recommend, @content_group, r), method: :delete, class: "layui-btn layui-btn-sm layui-btn-danger", title: "删除", data: { confirm: "确定要删除该内容吗？此操作不可恢复。" } %>
              </div>
            </td>
          </tr>
        <% end %>
      </tbody>
    </table>
  </div>
</div>
