<%= form_for(@sub, url: @sub.new_record? ? :admin_category_category_subs : :admin_category_category_sub,method: @sub.new_record? ? :post : :put, :html => {:class => "layui-form"}) do |f| %>
  <div class="layui-form-item">
    <label class="layui-form-label"><span class="required">*</span>子类名称</label>
    <div class="layui-input-block">
    <%= f.text_field :name, class: "layui-input", placeholder: "请输入分类名称", lay_verify: "required", lay_reqtext: "分类名称不能为空" %>
    </div>
  </div>

  <% if false %>
  <div class="layui-form-item">
    <label class="layui-form-label">图标</label>
    <div class="layui-input-block">
      <div class="layui-upload">
        <button type="button" class="layui-btn layui-btn-normal" id="uploadBtn">上传图标</button>
        <span style="margin-left: 10px; color: #999; font-size: 12px;">支持 jpg、png、gif、webp、svg 格式，不超过 2MB</span>
        <div class="layui-upload-list" id="iconPreview" style="margin-top: 10px;">
          <img src="<%= @sub.icon.blank? ? '' : FileMap.new(@sub.icon, 'img').secrity_src %>" id="previewImg" style="width: 60px; height: 60px; object-fit: contain; display: <%= @sub.icon.blank? ?  'none' : 'block' %>;">
          <%= f.hidden_field :icon, id: "iconInput" %>
        </div>
      </div>
    </div>
  </div>
  <% end %>

  <div class="layui-form-item layui-col-md6">
    <label class="layui-form-label">序号</label>
    <div class="layui-input-block">
      <%= f.number_field :sn, class: "layui-input", min: 0, step: 1, required: true %>
    </div>
  </div>

  <div class="layui-form-item">
    <div class="layui-input-block">
      <button type="submit" class="layui-btn layui-bg-blue" lay-submit lay-filter="submit-content">
        <i class="layui-icon layui-icon-release"></i>提交保存
      </button>
      <%= link_to "取消",  admin_category_category_subs_path(@category), class: "layui-btn layui-btn-primary" %>
    </div>
  </div>
<% end %>

<!--script>
    layui.use(['form', 'layer', 'upload'], function(){
      var form = layui.form;
      var layer = layui.layer;
      var upload = layui.upload;

      upload.render({
        elem: '#uploadBtn',
        url: '<%= upload_img_files_path %>',
        size: 2048, // 2MB
        accept: 'images',
        exts: 'jpg|jpeg|png|gif|webp|svg',
        done: function(res){
          if (res.success) {
            $('#iconInput').val(res.url);
            $('#previewImg').attr('src', res.preivew_url).show();
            layer.msg('上传成功', {icon: 1});
          } else {
            layer.msg(res.error || '上传失败', {icon: 2});
          }
        },
        error: function(){
          layer.msg('上传失败', {icon: 2});
        }
      });
    });
</script-->
