<%= stylesheet_link_tag 'wangeditor', media: 'all' %>
<%= javascript_include_tag 'wangeditor', 'data-turbolinks-track': 'reload' %>

<%= form_for(@compilation, url: @compilation.new_record? ? :admin_compilations : :admin_compilation,method: @compilation.new_record? ? :post : :put, :html => {:class => "layui-form"}) do |f| %>
  <fieldset class="layui-elem-field layui-field-title">
    <legend>
      <i class="layui-icon layui-icon-picture"></i> 基本信息
    </legend>
  </fieldset>

  <div class="layui-form-item">
    <%= f.label :name, class: "layui-form-label" do %>
      <span class="required">*</span> 合辑名称
    <% end %>
    <div class="layui-input-block">
      <%= f.text_field :name, class: "layui-input", placeholder: "请输入合辑名称", maxlength: 100, required: true, style: "width: 400px;" %>
      <span style="margin-left: 10px; color: #999; font-size: 12px;">合辑名称不可重复</span>
    </div>
  </div>

  <div class="layui-form-item">
    <label class="layui-form-label"><span class="required">*</span> 合辑封面</label>
    <div class="layui-input-block">
      <div class="cover-uploads-grid">

        <div class="cover-upload-item">
          <div class="cover-upload-label">
            <span>合辑Banner</span>
            <span class="cover-specs">(1500×932, ≤500KB)</span>
          </div>
          <div class="cover-upload-box" id="banner-upload-box">
            <button type="button" class="layui-btn layui-btn-normal layui-btn-sm" id="upload-banner">
              <i class="layui-icon layui-icon-upload"></i> 上传Banner
            </button>
            <div class="cover-preview" id="banner-preview" style="display: <%= @compilation.banner_image_url.blank? ?  'none' : 'block' %>;">
              <img id="banner-img" src="<%= @compilation.banner_image_url.blank? ? '' : FileMap.new(@compilation.banner_image_url, 'img').secrity_src %>" />
              <button type="button" class="layui-btn layui-btn-xs layui-btn-danger cover-remove" data-type="banner">
                <i class="layui-icon layui-icon-close"></i>
              </button>
            </div>
          </div>
          <%= f.hidden_field :banner_image_url, id: "banner_image_url" %>
          <%= f.hidden_field :banner_image_name, id: "banner_image_name" %>
        </div>

        <div class="cover-upload-item">
          <div class="cover-upload-label">
            <span>横图封面</span>
          </div>
          <div class="cover-upload-box" id="landscape-upload-box">
            <button type="button" class="layui-btn layui-btn-normal layui-btn-sm" id="upload-landscape">
              <i class="layui-icon layui-icon-upload"></i> 上传封面
            </button>
            <div class="cover-preview" id="landscape-preview" style="display: none;">
              <img id="landscape-img" src="" />
              <button type="button" class="layui-btn layui-btn-xs layui-btn-danger cover-remove" data-type="landscape">
               <i class="layui-icon layui-icon-close"></i>
              </button>
            </div>
          </div>
          <%= f.hidden_field :landscape_cover_url, id: "landscape_cover_url" %>
          <%= f.hidden_field :landscape_cover_name, id: "landscape_cover_name" %>
        </div>
      </div>
    </div>
  </div>

  <fieldset class="layui-elem-field layui-field-title">
    <legend>
      <i class="layui-icon layui-icon-survey"></i> 年龄与分类
    </legend>
  </fieldset>

  <div class="layui-form-item">
    <label class="layui-form-label">年龄范围</label>
    <div class="layui-input-block">
      <div class="grade-checkbox" id="grade-checkbox">
        <% Grade.all.each do |grade| %>
          <input type="checkbox" name="compilation[grade_ids][]" value=<%= grade.id %> title="<%= grade.name %>" <%= 'checked' if @compilation.grade_ids.include?(grade.id) %> />
        <% end %>
      </div>
    </div>
  </div>

  <div class="layui-form-item">
    <label class="layui-form-label">分类</label>
    <div class="layui-input-block">
      <% Category.all.each do |cat| %>
        <input type="checkbox" name="compilation[category_ids][]" value=<%= cat.id %> title="<%= cat.name %>" <%= 'checked' if @compilation.category_ids.include?(cat.id) %> />
      <% end %>
    </div>
  </div>

  <% if false %>
  <div class="layui-form-item">
    <%= f.label :themes, "主题", class: "layui-form-label" %>
    <div class="layui-input-block">
      <div class="themes-checkbox">
        <% Category.third_level.pluck(:name).each do |name| %>
          <input type="checkbox" name="compilation[themes][]" value="<%= name %>" title="<%= name %>"
            <%= 'checked' if @compilation.themes_array.include?(name) %> />
        <% end %>
      </div>
    </div>
  </div>
  <% end %>

  <fieldset class="layui-elem-field layui-field-title">
    <legend>
      <i class="layui-icon layui-icon-chart-screen"></i> 内容属性
    </legend>
  </fieldset>

  <div class="layui-form-item">
    <%= f.label :editor_recommendation, class: "layui-form-label" do %>
      <span class="required">*</span> 编辑推荐语
    <% end %>
    <div class="layui-input-block">
      <%= f.text_field :editor_recommendation, class: "layui-input", placeholder: "简短推荐语", maxlength: 15, style: "width: 400px;" %>
      <span style="margin-left: 10px; color: #999;">15个字以内</span>
    </div>
  </div>

  <div class="layui-form-item">
    <%= f.label :publisher, "出版社", class: "layui-form-label" %>
    <div class="layui-input-block">
      <%= f.text_field :publisher, class: "layui-input", placeholder: "请输入出版社名称", maxlength: 100, style: "width: 400px;" %>
    </div>
  </div>

  <div class="layui-form-item">
    <%= f.label :total_count, "合辑总集数", class: "layui-form-label" %>
    <div class="layui-input-block">
      <%= f.number_field :total_count, class: "layui-input", placeholder: "合辑包含的绘本数量", min: 0, style: "width: 400px;" %>
    </div>
  </div>

  <div class="layui-form-item">
    <%= f.label :author, "作者", class: "layui-form-label" %>
    <div class="layui-input-block">
      <%= f.text_field :author, class: "layui-input", placeholder: "请输入作者名称", maxlength: 100, style: "width: 400px;" %>
    </div>
  </div>

  <div class="layui-form-item">
    <%= f.label :tags, "标签", class: "layui-form-label" %>
    <div class="layui-input-block">
      <%= f.text_field :tags, class: "layui-input", placeholder: "多个标签用逗号分隔", style: "width: 400px;",
        value: @compilation.tags_array.blank? ? "" : @compilation.tags_array.join(', ') %>
    </div>
  </div>

  <fieldset class="layui-elem-field layui-field-title">
    <legend>
      <i class="layui-icon layui-icon-picture-fine"></i> 图片与介绍
    </legend>
  </fieldset>

  <div class="layui-form-item">
    <%= f.label :intro_image_url, "图片简介", class: "layui-form-label" %>
    <div class="layui-input-block">
      <div class="layui-upload">
        <button type="button" class="layui-btn layui-btn-normal" id="upload-intro">
          <i class="layui-icon layui-icon-upload"></i> 上传图片简介
        </button>
        <span style="margin-left: 10px; color: #999;">支持 JPG、PNG 格式</span>
      </div>
      <div id="intro-preview" style="margin-top: 10px; display: none;">
        <img id="intro-img" src="" style="max-width: 300px; border-radius: 4px; border: 1px solid #e6e6e6;" />
        <button type="button" class="layui-btn layui-btn-xs layui-btn-danger intro-remove" style="margin-left: 10px;">
          <i class="layui-icon layui-icon-close"></i> 移除
        </button>
      </div>
      <%= f.hidden_field :intro_image_url, id: "intro_image_url" %>
      <%= f.hidden_field :intro_image_name, id: "intro_image_name" %>
    </div>
  </div>

  <!-- 合辑简介 -->
  <div class="layui-form-item">
    <%= f.label :content_description, "合辑简介", class: "layui-form-label" %>
    <div class="layui-input-block">
      <div id="richtext-editor" class="description-editor">
        <div id="wang-editor-toolbar" style="border-bottom: 1px solid #e6e6e6;"></div>
        <div name="xxx" id="wang-editor-content" style="height: 250px; overflow-y: auto;border: 1px solid #e6e6e6;"></div>
      </div>
    </div>
  </div>
  <%= f.hidden_field :content_description, id: "content-description-hidden" %>

  <div class="layui-form-item" style="margin-top: 30px;">
    <div class="layui-input-block">
      <button type="submit" class="layui-btn layui-btn-normal" lay-submit lay-filter="submit-form">
        <i class="layui-icon layui-icon-release"></i> 提交保存
      </button>
      <%= link_to "取消", admin_compilations_path, class: "layui-btn layui-btn-primary" %>
    </div>
  </div>
<% end %>

<style>
  .layui-elem-field {
    margin-top: 30px;
  }

  .layui-elem-field legend {
    font-size: 16px;
    color: #52c41a;
  }

  .required {
    color: #ff4d4f;
    margin-right: 2px;
  }

  .cover-uploads-grid {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 20px;
    width: 100%;
  }

  .cover-upload-item {
    border: 1px solid #e6e6e6;
    border-radius: 4px;
    padding: 15px;
    background: #fafafa;
  }

  .cover-upload-label {
    font-weight: 500;
    margin-bottom: 10px;
    display: flex;
    align-items: center;
    gap: 8px;
  }

  .cover-specs {
    font-size: 12px;
    color: #999;
    font-weight: normal;
  }

  .required-tag::before {
    content: '*';
    color: #ff4d4f;
    margin-right: 2px;
  }

  .cover-specs.required-tag {
    color: #ff4d4f;
  }

  .cover-upload-box {
    min-height: 80px;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .cover-preview {
    text-align: center;
  }

  .cover-preview img {
    max-width: 150px;
    max-height: 100px;
    border-radius: 4px;
    border: 1px solid #e6e6e6;
  }

  .cover-preview .layui-btn {
    margin-top: 8px;
  }

  /* 年龄段和主题复选框 */
  .age-groups-checkbox,
  .themes-checkbox {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
  }

  /* 编辑器切换 */
  .description-editor-toggle {
    margin-bottom: 10px;
  }

  .editor-mode-btn.active {
    background-color: #52c41a !important;
    border-color: #52c41a !important;
    color: #fff !important;
  }

  .description-editor {
    min-height: 200px;
  }
</style>

<script>
  layui.use(['form', 'upload', 'layer'], function(){
    var form = layui.form,
        upload = layui.upload,
        layer = layui.layer,
        $ = layui.$;

    form.render();

    // banner上传
    upload.render({
      elem: '#upload-banner',
      url: '<%= upload_img_files_path %>',
      accept: 'images',
      exts: 'jpg|jpeg|png',
      size: 5 * 1024,
      done: function(res){
        if(res.success){
          $('#banner_image_url').val(res.url);
          $('#banner_image_name').val(res.name);
          $('#banner-preview').show();
          $('#banner-img').attr('src', res.preivew_url);
          layer.msg('图片简介上传成功');
        } else {
          layer.msg(res.message || '上传失败', {icon: 2});
        }
      },
      error: function(){
        layer.msg('上传失败', {icon: 2});
      }
    });
    $('.cover-remove').on('click', function(){
      $('#banner_image_url').val('');
      $('#banner_image_name').val('');
      $('#banner-preview').hide();
    });

    // 封面上传
    upload.render({
      elem: '#upload-landscape',
      url: '<%= upload_img_files_path %>',
      accept: 'images',
      exts: 'jpg|jpeg|png',
      size: 5 * 1024,
      done: function(res){
        if(res.success){
          $('#landscape_cover_url').val(res.url);
          $('#landscape_cover_name').val(res.name);
          $('#landscape-preview').show();
          $('#landscape-img').attr('src', res.preivew_url);
          layer.msg('图片简介上传成功');
        } else {
          layer.msg(res.message || '上传失败', {icon: 2});
        }
      },
      error: function(){
        layer.msg('上传失败', {icon: 2});
      }
    });
    $('.landscape-remove').on('click', function(){
      $('#landscape_cover_url').val('');
      $('#landscape_cover_name').val('');
      $('#landscape-preview').hide();
    });


    // 图片简介上传
    upload.render({
      elem: '#upload-intro',
      url: '<%= upload_img_files_path %>',
      accept: 'images',
      exts: 'jpg|jpeg|png',
      size: 5 * 1024,
      done: function(res){
        if(res.success){
          $('#intro_image_url').val(res.url);
          $('#intro_image_name').val(res.name);
          $('#intro-preview').show();
          $('#intro-img').attr('src', res.preivew_url);
          layer.msg('图片简介上传成功');
        } else {
          layer.msg(res.message || '上传失败', {icon: 2});
        }
      },
      error: function(){
        layer.msg('上传失败', {icon: 2});
      }
    });

    $('.intro-remove').on('click', function(){
      $('#intro_image_url').val('');
      $('#intro_image_name').val('');
      $('#intro-preview').hide();
    });

    var wangEditor = window.wangEditor;
    var E = wangEditor;

    var editor = E.createEditor({
      selector: '#wang-editor-content',
      html: '',
      onChange: (editor) => {
        const html = editor.getHtml()
        this.textareaTarget.value = html
      },
      config: {
        placeholder: '请输入合辑简介...',
        MENU_CONF: {
          uploadImage: {
            server: '<%= upload_open_img_files_path %>',
            fieldName: 'file',
            maxFileSize: 5 * 1024 * 1024, // 5MB
            headers: {
              'X-CSRF-Token': document.querySelector('meta[name="csrf-token"]').content
            },
            customInsert(res, insertFn) {
              if (res.errno === 0 || res.success) {
                var url = res.url || (res.data && res.data[0] && res.data[0].url);
                if (url) {
                  insertFn(url, res.name || '', url);
                }
              } else {
                layer.msg(res.message || '上传失败', { icon: 2 });
              }
            }
          }
        }
      }
    });

    var toolbar = E.createToolbar({
      editor: editor,
      selector: '#wang-editor-toolbar',
      config: {
        excludeKeys: [
          'group-video',
          'todo',
          'emotion',
          'codeBlock',
          'insertTable',
          'undo',
          'redo'
        ]
      }
    });

    form.on('submit(submit-form)', function(data){
      // 处理标签数据
      if(data.field.tags){
        data.field.tags = data.field.tags.split(',').map(function(t){ return t.trim(); }).filter(function(t){ return t; });
      }

      // 处理富文本/Markdown内容 - 根据当前模式同步到 content_description
      $('#content-description-hidden').val(editor.getHtml());

      return true;
    });
  });
</script>
