<%= form_for(@category, url: @category.new_record? ? :admin_categories : :admin_category,method: @category.new_record? ? :post : :put, :html => {:class => "layui-form"}) do |f| %>
  <div class="layui-form-item">
    <%= f.label :level, "分类级别", class: "layui-form-label" %>
    <div class="layui-input-block">
      <%= f.radio_button :level, 1, title: "一级分类" %>
      <%= f.radio_button :level, 2, title: "二级分类" %>
      <%= f.radio_button :level, 3, title: "三级分类" %>
    </div>
  </div>

  <div class="layui-form-item">
    <%= f.label :name, "分类名称", class: "layui-form-label" %>
    <div class="layui-input-block">
      <%= f.text_field :name, class: "layui-input", placeholder: "请输入分类名称", lay_verify: "required", lay_reqtext: "分类名称不能为空" %>
    </div>
  </div>

  <div class="layui-form-item">
    <label class="layui-form-label">序号</label>
    <div class="layui-input-block">
      <%= f.number_field :sn, min: 1, step: 1, class: "layui-input" %>
    </div>
  </div>

  <div class="layui-form-item">
    <%= f.label :description, "描述", class: "layui-form-label" %>
    <div class="layui-input-block">
      <%= f.text_area :description, class: "layui-textarea", placeholder: "请输入分类描述（可选）", rows: 4 %>
    </div>
  </div>

  <div class="layui-form-item">
    <div class="layui-input-block">
      <button class="layui-btn layui-bg-blue" lay-submit lay-filter="component-form-element">立即提交</button>
      <%= link_to "取消", :admin_categories, class: "layui-btn layui-btn-primary" %>
    </div>
  </div>
<% end %>
