<div class="layui-tab">                                                          
  <div class="x-nav">
    <span class="layui-breadcrumb">                                              
      <a href="">内容管理</a>
      <a><cite>分类管理</cite></a>
    </span>
    <%= render 'common/user_info' %>
  </div>

  <div class="x-body">
    <div class="layui-row">
      <div class="layui-col-xs9">
        <%= search_form_for(@q, url: :admin_categories, :html => {class: :'layui-form layui-col-md12'}) do |f| %>
          <div class="layui-input-inline">
            <select name="q[level_eq]" lay-search="">
              <option value="">所有级别</option>
              <option value="1">一级分类</option>
              <option value="2">二级分类</option>
              <option value="3">三级分类</option>
            </select>
          </div>
          <div class="layui-input-inline">
            <%= f.text_field :name_cont, class: :'layui-input', placeholder: "分类名称" %>
          </div>
          <button class="layui-btn layui-bg-blue" lay-submit><i class="layui-icon">&#xe615;</i>查询</button>
          <%= link_to "重置", :admin_categories, class: "layui-btn layui-btn-primary" %>
        <% end %>
      </div>
      <div class="layui-col-3 text-right">
        <%= link_to :new_admin_category, class: 'layui-btn layui-bg-blue' do %>
          <i class="layui-icon"></i>新增分类
        <% end %>
      </div>
    </div>

    <table class="layui-table">
      <thead>
        <tr>
          <th width="80">ID</th>
          <th>分类名称</th>
          <th>级别</th>
          <th>序号</th>
          <th width="160" style="text-align:center;">操作</th>
        </tr>
      </thead>
      <tbody>
        <% if @categories.empty? %>
          <tr>
            <td colspan="6" style="text-align: center; padding: 40px 0;">
              <i class="layui-icon layui-icon-face-cry" style="font-size: 48px; color: #999;"></i>
              <div style="color: #999; margin-top: 10px;">暂无分类数据</div>
            </td>
          </tr>
        <% else %>
          <% @categories.each do |category| %>
            <tr>
              <td><%= category.id %></td>
              <td>
                <span><%= category.name %></span>
              </td>
              <td>
                <%
                  level_colors = {
                    1 => '#dbeafe',
                    2 => '#d1fae5',
                    3 => '#fce7f3',
                  }
                  level_text_colors = {
                    1 => '#1e40af',
                    2 => '#065f46',
                    3 => '#9d174d'
                  }
                  level_names = {
                    1 => '一级分类',
                    2 => '二级分类',
                    3 => '三级分类'
                  }
                %>
                <span class="layui-badge" style="background: <%= level_colors[category.level] || '#e5e7eb' %>; color: <%= level_text_colors[category.level] || '#374151' %>;">
                  <%= level_names[category.level] %>
                </span>
              </td>
              <td><%= category.sn %></td>
              <td style="text-align:center;">
                <div class="layui-btn-group">
                  <%#= link_to '详情', admin_category_path(category), class: "layui-btn layui-btn-sm" %>
                  <%= link_to '编辑', edit_admin_category_path(category), class: "layui-btn layui-btn-sm" %>
                  <%= link_to '删除', admin_category_path(category), method: :delete, class: "layui-btn layui-btn-sm", title: "删除", data: { confirm: "确定要删除此分类吗？此操作不可恢复。" } %>
                </div>
              </td>
            </tr>
          <% end %>
        <% end %>
      </tbody>
    </table>

    <% if @categories.total_pages > 1 %>
      <div id="pagination" style="margin-top: 20px;"></div>
    <% end %>
  </div>
</div>

<script>
  layui.use(['laypage', 'layer'], function(){
    var laypage = layui.laypage,
        layer = layui.layer;

    // 分页
    <% if @categories.total_pages > 1 %>
    laypage.render({
      elem: 'pagination',
      count: <%= @categories.total_entries %>,
      limit: <%= @categories.per_page %>,
      curr: <%= @categories.current_page %>,
      layout: ['count', 'prev', 'page', 'next', 'limit', 'skip'],
      jump: function(obj, first){
        if(!first){
          var url = new URL(window.location.href);
          url.searchParams.set('page', obj.curr);
          url.searchParams.set('per_page', obj.limit);
          window.location.href = url.toString();
        }
      }
    });
    <% end %>
  })
</script>
